<%- include('../partials/header') %>
<a class="home-page" href="/">Click here to return to the homepage!</a>
<h2>Please click a skill to see more details!</h2>
<ul>
  <% skills.forEach(function(s) { %>
  <li>
    </form>
    <a class="link" href="/skills/<%= s.id %>"><%= s.skill %></a>
    <form
      action="/skills/<%= s.id %>?_method=DELETE"
      method="POST"
      class="delete-form"
    >
      <button class='delete' type="submit">delete skill</button>
  </li>
  <% }); %>
</ul>
<a class='add-skill' href="/skills/new">Click here to add a new skill!</a>
<%- include('../partials/footer') %>
