<%- include('../partials/header') %>
<a class="home-page" href="/">Click here to return to the homepage!</a>
<h3 class="home-title"><%= skill.skill %></h3>
<h3 class="instructions">Skill Level: <%= skill.level %></h3>
<h3 class="instructions">Started Learning: <%= skill.startDate %></h3>
<a class="edit-skill" href="/skills/<%= skill.id %>/edit">Edit Skill</a>
<%- include('../partials/footer') %>
